{block content}
<div class="title">Aliance</div>
<div class="sub-menu">
    <span class="active">[Založení aliance]</span>
    <span><a n:href=Aliance:Invitations>[Pozvánky do aliance]</a></span>
</div>
{control alianceCreateForm}
Nemá alianci