{block content}
<div class="title">Budovy</div>
<div class="sub-menu">
    <span><a n:href=Buildings:default>[Základní budovy]</a></span>
    <span class="active">[Speciální budovy]</span>
</div>
{control specialBuildingsForm}
