<form n:name=signInForm class=form>
    <label n:name=username>Username: <br><input n:name=username size=20></label>
    <label n:name=password>Password: <br><input n:name=password size=20></label>
    <input n:name=login class="btn btn-default">
</form>
<a n:href=Register:default>Registrovat</a>

